html 
    head 
        script(type="module" src="/script/client.js")
        style
            include /css/style.css
        title Vigenere
    body
        div#body
            div#uncrypted.block
                p Chaine en clair
                input#uncryptedString(type="text", name="uncryptedString")
            div#key.block
                button#cipheringButton == Chiffrer ==>
                p Clé de chiffrement
                input#crypteKey(type="text", name="crypteKey")
                button#decipheringButton <== Déchiffrer ==
            div#crypted.block
                p Chaine chiffrée
                input#cryptedString(type="text", name="cryptedString")
