* {
  margin: 0;
  padding: 0;
}
body {
  text-align: center;
  padding-top: 10%;
  width: 100%;
}
#container {
  width: 100%;
  height: 300px;
}
div {
  display: inline-flex;
}
.block {
  width: 500px;
  text-align: center;
  display: block;
  margin: 54px 10px;
}
#key {
  margin: 0px;
}
p {
  margin: 6px;
  height: fit-content;
  font-size: 20px;
}
input {
  border: 1px solid #aaaaaa;
  margin: 6px;
  height: 40px;
  width: 100%;
}
button {
  border: 1px solid #aaaaaa;
  margin: 6px;
  height: 42px;
  width: 152px;
}
